services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: svc_user
      POSTGRES_PASSWORD: svc_password
      POSTGRES_DB: user-session-service
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  # Kafka broker
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9093:9093"
      - "9092:9092" #internal docker clients use it
    volumes:
      - kafkadata:/var/lib/kafka/data
  redis:
    image: redis:latest
    container_name: redis-db
    ports:
      - "6379:6379"           # host:container
    volumes:
      - redisdata:/data
    command: ["redis-server", "--appendonly", "yes"]  # persistent AOF
volumes:
  pgdata:
  redisdata:
  kafkadata:
