server:
  port: 8080


spring:
  application:
    name: user-session-service
  datasource:
    url: jdbc:postgresql://localhost:5432/user-session-service
    username: svc_user
    password: svc_password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration


logging:
  level:
    root: INFO
    com.practice: DEBUG